<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6v5-2uaq_wusHDktM9ILcqIrlPtnZgEk">
</script>

<script>
  
    var map, infoWindow;
      function initialize() {
          var myLatlng = new google.maps.LatLng(39.952583,-75.165222);
          var myOptions = {
              zoom:10,
              center: myLatlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          map = new google.maps.Map(document.getElementById("gmap"), myOptions);
      infoWindow = new google.maps.InfoWindow;
      
      
          
      
          // marker refers to a global variable
          marker = new google.maps.Marker({
              position: myLatlng,
              map: map
          });
          // if center changed then update lat and lon document objects
          google.maps.event.addListener(map, 'center_changed', function () {
              var location = map.getCenter();
              document.getElementById("lat").innerHTML = location.lat();
  
              document.getElementById("lon").innerHTML = location.lng();
              // call function to reposition marker location
              placeMarker(location);
          });
          // if zoom changed, then update document object with new info
          google.maps.event.addListener(map, 'zoom_changed', function () {
              zoomLevel = map.getZoom();
              document.getElementById("zoom_level").innerHTML = zoomLevel;
          });
          // double click on the marker changes zoom level
          google.maps.event.addListener(marker, 'dblclick', function () {
              zoomLevel = map.getZoom() + 1;
              if (zoomLevel == 20) {
                  zoomLevel = 10;
              }
              document.getElementById("zoom_level").innerHTML = zoomLevel;
              map.setZoom(zoomLevel);
          });
  
          function placeMarker(location) {
              var clickedLocation = new google.maps.LatLng(location);
              marker.setPosition(location);
          }
      
      google.maps.event.addListener(map, "click", function(event) {
                  // get lat/lon of click
                  var clickLat = event.latLng.lat();
                  var clickLon = event.latLng.lng();
  
                  // show in input box
                  document.getElementById("lat").value = clickLat.toFixed(5);
                  document.getElementById("lon").value = clickLon.toFixed(5);
  
                    var marker = new google.maps.Marker({
                          position: new google.maps.LatLng(clickLat,clickLon),
                          map: map
                       });
  
              });
        infoWindow.open(map);
      }
      window.onload = function () { initialize() };
  </script>
  
<div id="gmap"></div>

Lat: <input type="text" id='lat'>
Lon: <input type="text" id='lon'>

